@charset "UTF-8";

/*
    em HTML é id = em CSS é # só pode um elemento por documento HTML
    em HTML é class = em CSS é . pode varios elementos
*/


body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4,109,0);
}
h2{
    color: rgb(73, 77, 49);
}

#principal {
    text-align: center;
    background: green;
    color: white
}

.Basico{
    color: greenyellow;
    font-weight: bold;
}

.Intermediario{
    color: red;
    font-weight: lighter;
}

.Avançado{
    color: blue;
    font-weight: bolder;
}

.destaque{
    background-color: rgba(255, 255, 0, 0.63);
}
